@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* /////////////////////////////////////////// */


body {
    font-family: "Play", sans-serif;
    font-size: 14px;
    color: white;
}

a {
    color: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 66px;
    font-weight: 700;
}

h2 {
    font-size: 58px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.view {
    display: none;
}



.header {
    background-color: #152C39;
    padding: 32px 0;
}


.header_main {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_location {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 510px) {
    .view {
        display: block;
    }
    .none{
        display: none;
    }
}