@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* /////////////////////////////////////////// */


body {
    font-family: "Play", sans-serif;
    font-size: 14px;
    color: white;
    line-height: 130%;
}

a {
    color: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    line-height: 100%;
}

h1 {
    font-size: 66px;
    font-weight: 700;
}

h2 {
    font-size: 58px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.view {
    display: none;
}

.big_txt {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
}

.sub_title {
    border: 1px solid white;
    border-radius: 100px;
    width: fit-content;
    padding: 10px;
}

.btn {
    font-family: "Inter", sans-serif;
    padding: 12px 100px;
    border-radius: 100px;
    background-color: #E53624;
    color: white;
    font-size: 20px;
}

.title {
    color: #191A1A;
}







.header {
    background-color: #152C39;
    padding: 32px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.196);
}


.header_main {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_location {
    display: flex;
    align-items: center;
    gap: 10px;
}








.hero {
    background-color: #152C39;
    padding-top: 50px;
    padding-bottom: 80px;

}


.hero_main {
    display: flex;
    align-items: center;
    gap: 50px;
    background: url(../img/hero.png) center/cover no-repeat;
    padding: 32px 100px;
}

.hero_text {
    max-width: 200px;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}

.hero_promo {
    display: flex;
    gap: 12px;
}











.service {
    background: #152C39;
    padding-bottom: 30px;
}

.service_title {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
}

.service_wrapper {
    display: flex;
    justify-content: space-between;
    /* gap: 45px; */
    margin-top: 60px;
}

.service_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
}




.home {
    display: flex;
    margin-bottom: 50px;
}

.home_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: #476178;
    max-width: 600px;
    width: 100%;
}

.home_txt p {
    width: 300px;
}




.dir_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dir_box {
    background: url(../img/dir1.png) no-repeat center/cover;
    padding: 15px;
}







.catalog {
    display: flex;
}

.product {}

.product .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 100px;
    background-color: #476178;
}

.cleaning .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 111px;
    background: url(../img/cleaning.png) center no-repeat;
    width: 600px;
}




.sun .container {
    background: url(../img/sun.png) no-repeat center/cover;
    width: 620px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pvx .container {
    background: url(../img/pvx.png) no-repeat center/cover;
    width: 900px;
    padding: 71px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 510px) {

    h1 {
        font-size: 44px;
    }

    .view {
        display: block;
    }

    .none {
        display: none;
    }

    .big_txt {
        font-size: 24px;
    }

    .sub_title {
        font-size: 12px;
    }



    .header {
        padding: 25px 0;
    }






    .hero .container {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .hero_main {
        padding: 20px;
        padding-bottom: 45px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        background: url(../img/hero_phone.png) center/cover no-repeat;
    }

    .hero_text {
        max-width: 100%;
    }







    .service_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .home {
        flex-direction: column;
    }

    .home_txt {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .dir_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 250px);
    }



    .catalog {
        flex-direction: column;
    }

    .cleaning .container {
        width: 100%;
        padding: 50px;
    }

    .product .container {
        width: 100%;
        padding: 50px;
    }


    .pvx .container {
        width: 100%;
        padding: 30px;
    }

    .sun .container {
        width: 100%;
        padding: 30px;
    }
}