@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* /////////////////////////////////////////// */


body {
    font-family: "Play", sans-serif;
    font-size: 14px;
    color: white;
}

a {
    color: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 66px;
    font-weight: 700;
}

h2 {
    font-size: 58px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.view {
    display: none;
}

.big_txt {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
}

.sub_title {
    border: 1px solid white;
    border-radius: 100px;
    width: fit-content;
    padding: 10px;
}

.btn {
    font-family: "Inter", sans-serif;
    padding: 12px 100px;
    border-radius: 100px;
    background-color: #E53624;
    color: white;
    font-size: 20px;
}







.header {
    background-color: #152C39;
    padding: 32px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.196);
}


.header_main {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_location {
    display: flex;
    align-items: center;
    gap: 10px;
}



.hero {
    background-color: #152C39;
    padding-top: 50px;
    padding-bottom: 80px;

}


.hero_main {
    display: flex;
    align-items: center;
    gap: 50px;
    background: url(../img/hero.png) center/cover no-repeat;
    padding: 32px 100px;
}

.hero_text {
    max-width: 200px;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}

.hero_promo {
    display: flex;
    gap: 12px;
}

@media (max-width: 510px) {


    .view {
        display: block;
    }

    .none {
        display: none;
    }

    .big_txt {
        font-size: 24px;
    }

    .sub_title {
        font-size: 12px;
    }



    .header {
        padding: 25px 0;
    }






    .hero .container {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .hero_main {
        padding: 20px;
        padding-bottom: 45px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        background: url(../img/hero_phone.png) center/cover no-repeat;
    }

    .hero_text {
        max-width: 100%;
    }
}